# Environnement local
.env

# PHP / Composer
plugin/vendor/
plugin/.phpunit.cache/
plugin/.phpunit.result.cache
plugin/composer.lock
plugin/build/

# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
!**/gradle/wrapper/gradle-wrapper.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
replay_pid*
/claude.sh

# IntelliJ IDEA
.idea/
*.iml
/backend/build/classes/java/main/META-INF/micronaut/io.micronaut.core.beans.BeanIntrospectionReference/org.ucjgsalm.locagest.dto.$Dtos$AjouterSupplementRequest$Introspection
/backend/build/classes/java/main/META-INF/micronaut/io.micronaut.core.beans.BeanIntrospectionReference/org.ucjgsalm.locagest.dto.$Dtos$CategorieSpec$Introspection
/backend/build/classes/java/main/META-INF/micronaut/io.micronaut.core.beans.BeanIntrospectionReference/org.ucjgsalm.locagest.dto.$Dtos$ConfigItemRequest$Introspection
/backend/build/classes/java/main/META-INF/micronaut/io.micronaut.core.beans.BeanIntrospectionReference/org.ucjgsalm.locagest.dto.$Dtos$ConfigItemResponse$Introspection
/backend/build/classes/java/main/META-INF/micronaut/io.micronaut.core.beans.BeanIntrospectionReference/org.ucjgsalm.locagest.dto.$Dtos$ConfigSiteRequest$Introspection
/backend/build/classes/java/main/META-INF/micronaut/io.micronaut.core.beans.BeanIntrospectionReference/org.ucjgsalm.locagest.dto.$Dtos$CreerSejourRequest$Introspection
/backend/build/classes/java/main/META-INF/micronaut/io.micronaut.core.beans.BeanIntrospectionReference/org.ucjgsalm.locagest.dto.$Dtos$EnregistrerPaiementRequest$Introspection
/backend/build/classes/java/main/META-INF/micronaut/io.micronaut.core.beans.BeanIntrospectionReference/org.ucjgsalm.locagest.dto.$Dtos$ErrorResponse$Introspection
/backend/build/classes/java/main/META-INF/micronaut/io.micronaut.core.beans.BeanIntrospectionReference/org.ucjgsalm.locagest.dto.$Dtos$FactureResponse$Introspection
/backend/build/classes/java/main/META-INF/micronaut/io.micronaut.core.beans.BeanIntrospectionReference/org.ucjgsalm.locagest.dto.$Dtos$GenererFactureRequest$Introspection
/backend/build/classes/java/main/META-INF/micronaut/io.micronaut.core.beans.BeanIntrospectionReference/org.ucjgsalm.locagest.dto.$Dtos$LigneSejourResponse$Introspection
/backend/build/classes/java/main/META-INF/micronaut/io.micronaut.core.beans.BeanIntrospectionReference/org.ucjgsalm.locagest.dto.$Dtos$LocataireResponse$Introspection
/backend/build/classes/java/main/META-INF/micronaut/io.micronaut.core.beans.BeanIntrospectionReference/org.ucjgsalm.locagest.dto.$Dtos$PagedResponse$Introspection
/backend/build/classes/java/main/META-INF/micronaut/io.micronaut.core.beans.BeanIntrospectionReference/org.ucjgsalm.locagest.dto.$Dtos$PaiementResponse$Introspection
/backend/build/classes/java/main/META-INF/micronaut/io.micronaut.core.beans.BeanIntrospectionReference/org.ucjgsalm.locagest.dto.$Dtos$PromouvoirLigneRequest$Introspection
/backend/build/classes/java/main/META-INF/micronaut/io.micronaut.core.beans.BeanIntrospectionReference/org.ucjgsalm.locagest.dto.$Dtos$SaisieCategorieItem$Introspection
/backend/build/classes/java/main/META-INF/micronaut/io.micronaut.core.beans.BeanIntrospectionReference/org.ucjgsalm.locagest.dto.$Dtos$SaisieHorairesRequest$Introspection
/backend/build/classes/java/main/META-INF/micronaut/io.micronaut.core.beans.BeanIntrospectionReference/org.ucjgsalm.locagest.dto.$Dtos$SaisiePersonnesRequest$Introspection
/backend/build/classes/java/main/META-INF/micronaut/io.micronaut.core.beans.BeanIntrospectionReference/org.ucjgsalm.locagest.dto.$Dtos$SejourCategorieResponse$Introspection
/backend/build/classes/java/main/META-INF/micronaut/io.micronaut.core.beans.BeanIntrospectionReference/org.ucjgsalm.locagest.dto.$Dtos$SejourResponse$Introspection
/backend/build/classes/java/main/META-INF/micronaut/io.micronaut.core.beans.BeanIntrospectionReference/org.ucjgsalm.locagest.dto.$Dtos$TarifPersonneRequest$Introspection
/backend/build/classes/java/main/META-INF/micronaut/io.micronaut.core.beans.BeanIntrospectionReference/org.ucjgsalm.locagest.dto.$Dtos$TarifPersonneResponse$Introspection
/backend/build/classes/java/main/META-INF/micronaut/io.micronaut.inject.BeanDefinitionReference/org.ucjgsalm.locagest.controller.$AdminController$Definition
/backend/build/classes/java/main/META-INF/micronaut/io.micronaut.inject.BeanDefinitionReference/org.ucjgsalm.locagest.controller.$AdminController$Definition$Intercepted$Definition
/backend/build/classes/java/main/META-INF/micronaut/io.micronaut.inject.BeanDefinitionReference/org.ucjgsalm.locagest.controller.$LocataireController$Definition
/backend/build/classes/java/main/META-INF/micronaut/io.micronaut.inject.BeanDefinitionReference/org.ucjgsalm.locagest.controller.$SejourController$Definition
/backend/build/classes/java/main/META-INF/micronaut/io.micronaut.inject.BeanDefinitionReference/org.ucjgsalm.locagest.controller.$SejourController$Definition$Intercepted$Definition
/backend/build/classes/java/main/META-INF/micronaut/io.micronaut.inject.BeanDefinitionReference/org.ucjgsalm.locagest.repository.$ConfigItemRepository$Definition
/backend/build/classes/java/main/META-INF/micronaut/io.micronaut.inject.BeanDefinitionReference/org.ucjgsalm.locagest.repository.$ConfigSiteRepository$Definition
/backend/build/classes/java/main/META-INF/micronaut/io.micronaut.inject.BeanDefinitionReference/org.ucjgsalm.locagest.repository.$FactureRepository$Definition
/backend/build/classes/java/main/META-INF/micronaut/io.micronaut.inject.BeanDefinitionReference/org.ucjgsalm.locagest.repository.$LigneSejourRepository$Definition
/backend/build/classes/java/main/META-INF/micronaut/io.micronaut.inject.BeanDefinitionReference/org.ucjgsalm.locagest.repository.$LocataireRepository$Definition
/backend/build/classes/java/main/META-INF/micronaut/io.micronaut.inject.BeanDefinitionReference/org.ucjgsalm.locagest.repository.$SejourCategorieRepository$Definition
/backend/build/classes/java/main/META-INF/micronaut/io.micronaut.inject.BeanDefinitionReference/org.ucjgsalm.locagest.repository.$SejourRepository$Definition
/backend/build/classes/java/main/META-INF/micronaut/io.micronaut.inject.BeanDefinitionReference/org.ucjgsalm.locagest.repository.$TarifPersonneRepository$Definition
/backend/build/classes/java/main/META-INF/micronaut/io.micronaut.inject.BeanDefinitionReference/org.ucjgsalm.locagest.service.$ConfigItemService$Definition
/backend/build/classes/java/main/META-INF/micronaut/io.micronaut.inject.BeanDefinitionReference/org.ucjgsalm.locagest.service.$EmailService$Definition
/backend/build/classes/java/main/META-INF/micronaut/io.micronaut.inject.BeanDefinitionReference/org.ucjgsalm.locagest.service.$FactureCalculService$Definition
/backend/build/classes/java/main/META-INF/micronaut/io.micronaut.inject.BeanDefinitionReference/org.ucjgsalm.locagest.service.$FactureService$Definition
/backend/build/classes/java/main/META-INF/micronaut/io.micronaut.inject.BeanDefinitionReference/org.ucjgsalm.locagest.service.$PaiementService$Definition
/backend/build/classes/java/main/META-INF/micronaut/io.micronaut.inject.BeanDefinitionReference/org.ucjgsalm.locagest.service.$PdfService$Definition
/backend/build/classes/java/main/META-INF/micronaut/io.micronaut.inject.BeanDefinitionReference/org.ucjgsalm.locagest.service.$S3Service$Definition
/backend/build/classes/java/main/META-INF/micronaut/io.micronaut.inject.BeanDefinitionReference/org.ucjgsalm.locagest.service.$SejourService$Definition
/backend/build/classes/java/main/META-INF/micronaut/io.micronaut.inject.BeanDefinitionReference/org.ucjgsalm.locagest.util.$AwsClientFactory$Definition
/backend/build/classes/java/main/META-INF/micronaut/io.micronaut.inject.BeanDefinitionReference/org.ucjgsalm.locagest.util.$AwsClientFactory$S3Client0$Definition
/backend/build/classes/java/main/META-INF/micronaut/io.micronaut.inject.BeanDefinitionReference/org.ucjgsalm.locagest.util.$AwsClientFactory$S3Presigner1$Definition
/backend/build/classes/java/main/META-INF/micronaut/io.micronaut.inject.BeanDefinitionReference/org.ucjgsalm.locagest.util.$AwsClientFactory$SesClient2$Definition
/backend/build/classes/java/main/META-INF/micronaut/io.micronaut.inject.BeanDefinitionReference/org.ucjgsalm.locagest.util.$GlobalExceptionHandler$Definition
/backend/build/classes/java/test/META-INF/micronaut/io.micronaut.inject.BeanDefinitionReference/org.ucjgsalm.locagest.service.$FactureServiceIT$Definition
/backend/build/classes/java/test/META-INF/micronaut/io.micronaut.inject.BeanDefinitionReference/org.ucjgsalm.locagest.service.$FactureServiceIT$MockEmailService1$Definition
/backend/build/classes/java/test/META-INF/micronaut/io.micronaut.inject.BeanDefinitionReference/org.ucjgsalm.locagest.service.$FactureServiceIT$MockEmailService1$Definition$Intercepted$Definition
/backend/build/classes/java/test/META-INF/micronaut/io.micronaut.inject.BeanDefinitionReference/org.ucjgsalm.locagest.service.$FactureServiceIT$MockPdfService2$Definition
/backend/build/classes/java/test/META-INF/micronaut/io.micronaut.inject.BeanDefinitionReference/org.ucjgsalm.locagest.service.$FactureServiceIT$MockPdfService2$Definition$Intercepted$Definition
/backend/build/classes/java/test/META-INF/micronaut/io.micronaut.inject.BeanDefinitionReference/org.ucjgsalm.locagest.service.$FactureServiceIT$MockS3Service0$Definition
/backend/build/classes/java/test/META-INF/micronaut/io.micronaut.inject.BeanDefinitionReference/org.ucjgsalm.locagest.service.$FactureServiceIT$MockS3Service0$Definition$Intercepted$Definition
/backend/build/classes/java/test/META-INF/micronaut/io.micronaut.inject.BeanDefinitionReference/org.ucjgsalm.locagest.service.$SejourServiceIT$Definition
/backend/build/jacoco/test.exec
/backend/build/reports/jacoco/test/html/jacoco-resources/branchfc.gif
/backend/build/reports/jacoco/test/html/jacoco-resources/branchnc.gif
/backend/build/reports/jacoco/test/html/jacoco-resources/branchpc.gif
/backend/build/reports/jacoco/test/html/jacoco-resources/bundle.gif
/backend/build/reports/jacoco/test/html/jacoco-resources/class.gif
/backend/build/reports/jacoco/test/html/jacoco-resources/down.gif
/backend/build/reports/jacoco/test/html/jacoco-resources/greenbar.gif
/backend/build/reports/jacoco/test/html/jacoco-resources/group.gif
/backend/build/reports/jacoco/test/html/jacoco-resources/method.gif
/backend/build/reports/jacoco/test/html/jacoco-resources/package.gif
/backend/build/reports/jacoco/test/html/jacoco-resources/prettify.css
/backend/build/reports/jacoco/test/html/jacoco-resources/prettify.js
/backend/build/reports/jacoco/test/html/jacoco-resources/redbar.gif
/backend/build/reports/jacoco/test/html/jacoco-resources/report.css
/backend/build/reports/jacoco/test/html/jacoco-resources/report.gif
/backend/build/reports/jacoco/test/html/jacoco-resources/session.gif
/backend/build/reports/jacoco/test/html/jacoco-resources/sort.gif
/backend/build/reports/jacoco/test/html/jacoco-resources/sort.js
/backend/build/reports/jacoco/test/html/jacoco-resources/source.gif
/backend/build/reports/jacoco/test/html/jacoco-resources/up.gif
/backend/build/reports/jacoco/test/html/org.ucjgsalm.locagest.controller/AdminController.html
/backend/build/reports/jacoco/test/html/org.ucjgsalm.locagest.controller/AdminController.java.html
/backend/build/reports/jacoco/test/html/org.ucjgsalm.locagest.controller/index.html
/backend/build/reports/jacoco/test/html/org.ucjgsalm.locagest.controller/index.source.html
/backend/build/reports/jacoco/test/html/org.ucjgsalm.locagest.controller/LocataireController.html
/backend/build/reports/jacoco/test/html/org.ucjgsalm.locagest.controller/LocataireController.java.html
/backend/build/reports/jacoco/test/html/org.ucjgsalm.locagest.controller/SejourController.html
/backend/build/reports/jacoco/test/html/org.ucjgsalm.locagest.controller/SejourController.java.html
/backend/build/reports/jacoco/test/html/org.ucjgsalm.locagest.repository/ConfigItemRepository.html
/backend/build/reports/jacoco/test/html/org.ucjgsalm.locagest.repository/ConfigItemRepository.java.html
/backend/build/reports/jacoco/test/html/org.ucjgsalm.locagest.repository/ConfigSiteRepository.html
/backend/build/reports/jacoco/test/html/org.ucjgsalm.locagest.repository/ConfigSiteRepository.java.html
/backend/build/reports/jacoco/test/html/org.ucjgsalm.locagest.repository/FactureRepository.html
/backend/build/reports/jacoco/test/html/org.ucjgsalm.locagest.repository/FactureRepository.java.html
/backend/build/reports/jacoco/test/html/org.ucjgsalm.locagest.repository/index.html
/backend/build/reports/jacoco/test/html/org.ucjgsalm.locagest.repository/index.source.html
/backend/build/reports/jacoco/test/html/org.ucjgsalm.locagest.repository/LigneSejourRepository.html
/backend/build/reports/jacoco/test/html/org.ucjgsalm.locagest.repository/LigneSejourRepository.java.html
/backend/build/reports/jacoco/test/html/org.ucjgsalm.locagest.repository/LocataireRepository.html
/backend/build/reports/jacoco/test/html/org.ucjgsalm.locagest.repository/LocataireRepository.java.html
/backend/build/reports/jacoco/test/html/org.ucjgsalm.locagest.repository/SejourCategorieRepository.html
/backend/build/reports/jacoco/test/html/org.ucjgsalm.locagest.repository/SejourCategorieRepository.java.html
/backend/build/reports/jacoco/test/html/org.ucjgsalm.locagest.repository/SejourRepository.html
/backend/build/reports/jacoco/test/html/org.ucjgsalm.locagest.repository/SejourRepository.java.html
/backend/build/reports/jacoco/test/html/org.ucjgsalm.locagest.repository/TarifPersonneRepository.html
/backend/build/reports/jacoco/test/html/org.ucjgsalm.locagest.repository/TarifPersonneRepository.java.html
/backend/build/reports/jacoco/test/html/org.ucjgsalm.locagest.service/ConfigItemService.html
/backend/build/reports/jacoco/test/html/org.ucjgsalm.locagest.service/ConfigItemService.java.html
/backend/build/reports/jacoco/test/html/org.ucjgsalm.locagest.service/EmailService.html
/backend/build/reports/jacoco/test/html/org.ucjgsalm.locagest.service/EmailService.java.html
/backend/build/reports/jacoco/test/html/org.ucjgsalm.locagest.service/FactureCalculService$HebergementResult.html
/backend/build/reports/jacoco/test/html/org.ucjgsalm.locagest.service/FactureCalculService$Montants.html
/backend/build/reports/jacoco/test/html/org.ucjgsalm.locagest.service/FactureCalculService.html
/backend/build/reports/jacoco/test/html/org.ucjgsalm.locagest.service/FactureCalculService.java.html
/backend/build/reports/jacoco/test/html/org.ucjgsalm.locagest.service/FactureService.html
/backend/build/reports/jacoco/test/html/org.ucjgsalm.locagest.service/FactureService.java.html
/backend/build/reports/jacoco/test/html/org.ucjgsalm.locagest.service/index.html
/backend/build/reports/jacoco/test/html/org.ucjgsalm.locagest.service/index.source.html
/backend/build/reports/jacoco/test/html/org.ucjgsalm.locagest.service/PaiementService.html
/backend/build/reports/jacoco/test/html/org.ucjgsalm.locagest.service/PaiementService.java.html
/backend/build/reports/jacoco/test/html/org.ucjgsalm.locagest.service/PdfService.html
/backend/build/reports/jacoco/test/html/org.ucjgsalm.locagest.service/PdfService.java.html
/backend/build/reports/jacoco/test/html/org.ucjgsalm.locagest.service/S3Service.html
/backend/build/reports/jacoco/test/html/org.ucjgsalm.locagest.service/S3Service.java.html
/backend/build/reports/jacoco/test/html/org.ucjgsalm.locagest.service/SejourService$CategorieSpec.html
/backend/build/reports/jacoco/test/html/org.ucjgsalm.locagest.service/SejourService$SaisieCategorie.html
/backend/build/reports/jacoco/test/html/org.ucjgsalm.locagest.service/SejourService.html
/backend/build/reports/jacoco/test/html/org.ucjgsalm.locagest.service/SejourService.java.html
/backend/build/reports/jacoco/test/html/org.ucjgsalm.locagest.util/GlobalExceptionHandler.html
/backend/build/reports/jacoco/test/html/org.ucjgsalm.locagest.util/GlobalExceptionHandler.java.html
/backend/build/reports/jacoco/test/html/org.ucjgsalm.locagest.util/index.html
/backend/build/reports/jacoco/test/html/org.ucjgsalm.locagest.util/index.source.html
/backend/build/reports/jacoco/test/html/index.html
/backend/build/reports/jacoco/test/html/jacoco-sessions.html
/backend/build/reports/jacoco/test/jacocoTestReport.xml
/backend/build/reports/problems/problems-report.html
/backend/build/reports/tests/test/css/base-style.css
/backend/build/reports/tests/test/css/style.css
/backend/build/reports/tests/test/js/report.js
/backend/build/reports/tests/test/org.ucjgsalm.locagest.service.FactureCalculServiceTest/index.html
/backend/build/reports/tests/test/org.ucjgsalm.locagest.service.FactureCalculServiceTest/ligneHebergement_facturationReelle().html
/backend/build/reports/tests/test/org.ucjgsalm.locagest.service.FactureServiceIT/index.html
/backend/build/reports/tests/test/org.ucjgsalm.locagest.service.SejourServiceIT/index.html
/backend/build/reports/tests/test/index.html
/backend/build/reports/inspectRuntimeClasspath.txt
/backend/build/resources/main/db/migration/V1__initial_schema.sql
/backend/build/resources/main/db/migration/V2__locataire_email_unique.sql
/backend/build/resources/main/application.yml
/backend/build/resources/test/application-test.yml
/backend/build/test-results/test/binary/output-events.bin
/backend/build/test-results/test/binary/results-generic.bin
/backend/build/test-results/test/testlist/junit-platform-unique-ids-6338602601925993145.txt
/backend/build/test-results/test/TEST-org.ucjgsalm.locagest.service.FactureCalculServiceTest.xml
/backend/build/test-results/test/TEST-org.ucjgsalm.locagest.service.FactureServiceIT.xml
/backend/build/test-results/test/TEST-org.ucjgsalm.locagest.service.SejourServiceIT.xml
/backend/build/tmp/.cache/expanded/zip_9892ccb804f78c0637616b68610d363f/META-INF/maven/org.jacoco/org.jacoco.agent/pom.properties
/backend/build/tmp/.cache/expanded/zip_9892ccb804f78c0637616b68610d363f/META-INF/maven/org.jacoco/org.jacoco.agent/pom.xml
/backend/build/tmp/.cache/expanded/zip_9892ccb804f78c0637616b68610d363f/META-INF/MANIFEST.MF
/backend/build/tmp/.cache/expanded/zip_9892ccb804f78c0637616b68610d363f/about.html
/backend/build/tmp/.cache/expanded/zip_ff7bf8f04f99dc306508d1c81e47a68b/META-INF/maven/org.jacoco/org.jacoco.agent/pom.properties
/backend/build/tmp/.cache/expanded/zip_ff7bf8f04f99dc306508d1c81e47a68b/META-INF/maven/org.jacoco/org.jacoco.agent/pom.xml
/backend/build/tmp/.cache/expanded/zip_ff7bf8f04f99dc306508d1c81e47a68b/META-INF/MANIFEST.MF
/backend/build/tmp/.cache/expanded/zip_ff7bf8f04f99dc306508d1c81e47a68b/about.html
/backend/build/tmp/compileJava/previous-compilation-data.bin
/backend/build/tmp/compileTestJava/compileTransaction/stash-dir/$SejourServiceIT$Definition$Exec.class.uniqueId1
/backend/build/tmp/compileTestJava/compileTransaction/stash-dir/$SejourServiceIT$Definition.class.uniqueId2
/backend/build/tmp/compileTestJava/compileTransaction/stash-dir/org.ucjgsalm.locagest.service.$SejourServiceIT$Definition.uniqueId3
/backend/build/tmp/compileTestJava/compileTransaction/stash-dir/SejourServiceIT.class.uniqueId0
/backend/build/tmp/compileTestJava/previous-compilation-data.bin
/backend/.gradle/8.9/checksums/checksums.lock
/backend/.gradle/8.9/checksums/md5-checksums.bin
/backend/.gradle/8.9/checksums/sha1-checksums.bin
/backend/.gradle/8.9/dependencies-accessors/gc.properties
/backend/.gradle/8.9/executionHistory/executionHistory.bin
/backend/.gradle/8.9/executionHistory/executionHistory.lock
/backend/.gradle/8.9/fileChanges/last-build.bin
/backend/.gradle/8.9/fileHashes/fileHashes.bin
/backend/.gradle/8.9/fileHashes/fileHashes.lock
/backend/.gradle/8.9/fileHashes/resourceHashesCache.bin
/backend/.gradle/8.9/gc.properties
/backend/.gradle/9.4.0/checksums/checksums.lock
/backend/.gradle/9.4.0/checksums/md5-checksums.bin
/backend/.gradle/9.4.0/checksums/sha1-checksums.bin
/backend/.gradle/9.4.0/executionHistory/executionHistory.bin
/backend/.gradle/9.4.0/executionHistory/executionHistory.lock
/backend/.gradle/9.4.0/expanded/expanded.lock
/backend/.gradle/9.4.0/fileChanges/last-build.bin
/backend/.gradle/9.4.0/fileHashes/fileHashes.bin
/backend/.gradle/9.4.0/fileHashes/fileHashes.lock
/backend/.gradle/9.4.0/fileHashes/resourceHashesCache.bin
/backend/.gradle/9.4.0/gc.properties
/backend/.gradle/buildOutputCleanup/buildOutputCleanup.lock
/backend/.gradle/buildOutputCleanup/cache.properties
/backend/.gradle/buildOutputCleanup/outputFiles.bin
/backend/.gradle/vcs-1/gc.properties
/backend/.gradle/file-system.probe
/backend/.gradle/workspace-id.txt
/backend/.gradle/workspace-id.txt.lock
